---
layout: default
---

<div class="post">
  <div>
    <h3 class="post-title">
      <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
    </h3>
    <span class="post-date">{{ date | date: "%b %-d, %Y" }}</span>
    {{ content }}
  </div>
<p>posted in {% for tag in page.tags %}<a href="{{ site.baseurl }}/tags/index.html#{{ tag | cgi_escape }}" title="Pages tagged {{ tag }}" rel="tag">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}</p>
<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
</div>

<div class="pagination">
{% if page.previous %}
<p class="prevLink"><a href="{{ page.previous.url | prepend: site.baseurl }}" class="previous">older</a></p>
{% endif %}
{% if page.next %}
<p class="nextLink"><a href="{{ page.next.url | prepend: site.baseurl }}" class="next">newer</a></p>
{% endif %}
</div>
